<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Successfuly Registered!!</title>
</head>
<body class="container" background="{{ url_for('static', filename='mix.jpeg') }}" style="background-repeat:no-repeat; background-size:cover;">
<h1 class="jumbotron" style="background-color: #1ea5ff">You have been registered successfully!</h1>
<h3><strong>What do you want to do next?</strong></h3>
<a href="/login" style="color: white;">Login</a></br>
<a href="/" style="color:white;">Return back to home</a>
</body>
</html>