<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Signed Out!!!</title>
</head>
<body class="container jumbotron" background="{{ url_for('static', filename='yes3.jpg') }}"style="background-repeat:no-repeat; background-size:cover;text-align: center">
<h1 class="typewriter" style="color:#1ea5ff;">You have been successfuly signed out!</h1>
<a href="/" style="color: white;">Click here to go back to home page!</a>
</body>
</html>