<!DOCTYPE html>
<html>
<head>
	<title>Password Recovery</title>
 
   <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">-->

	<style type="text/css"> 
		body 
    	{
        	text-align: center;
    	}
    	input.search 
    	{
        	margin-bottom: 10px;
    	}
    	div.fixed 
		{
    		position: fixed;
		    bottom: 0;
		    left: 0;
		    border: 3px solid #73AD21;
		}
	</style>
</head>
<body style="background-image:url(https://buidln.clipdealer.com/001/495/017//previews/1--1495017-Clock%3A%20Tax%20Time.jpg)">
	<h1 align="center">Password Reset</h1>
	<br>
	<h3 align="center">Enter your credentials to proceed!</h3>
	<div class="align-center">
		<div class="card" style="display: inline-block;padding: 50px;">
			<form method="post"  style="width: 40vw; text-align: left;">

				<label>Enter your Aadhar number</label>
				<input type="text" name="aadhar" placeholder="NUM" >
				<br><br>


				<label>Enter your e-mail</label>
				<input type="text" name="email" placeholder="xyz@abc.com">
				
				<br><br>

				<label>Enter your contact number</label>
				<input type="text" name="contact" placeholder="NUM">
				
				
				<br><br>


			<div align="center" class="container">
				<div >
					<input type="Submit"/>
				</div>
			</div>
		</div>
	</div>
	<br>
</body>
</html>


