<!DOCTYPE html>
<html>
<head>
	<title>Tax-saving-tips</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container"background="{{ url_for('static', filename='qt.jpeg') }}" style="background-repeat:no-repeat; background-size:cover;">
<h1 class="jumbotron"style="background-color: #1ea5ff;text-align: center;">To Save Tax You can Follow some of these steps</h1>	
<ul>
	<li><h3><strong style="color: red">Tax-Saver FDs :</strong> You can get a tax deduction of up to Rs 1.5 lakh under 5 year tax-saver FDs. The carry a fixed rate of interest currently between 7-8%. The interest on these FDs is taxable</h3></li>
	<li><h3><strong style="color: red">PPF (Public Provident Fund):</strong> Public Provident Fund is a government established savings scheme with a tenure of 15 years available at most banks and post offices in India. Its rate changes every quarter but is currently 8%. The interest on PPF is tax-free.</h3></li>
	<li><h3><strong style="color: red">ELSS Funds:</strong> These are mutual funds which invest a minimum of 80% of their assets in equity. They have a lock-in of 3 years. The returns on ELSS funds are subject to Long Term Capital Gains Tax (LTCG) at 10%, over and above an exemption limit of Rs 1 lakh.</h3></li>
	<li><h3><strong style="color: red">NSC (National Saving Certificate):</strong> A National Savings Certificate has a tenure of 5 years and a fixed rate of interest. The rate is currently 8%. The interest on NSC is also automatically counted towards the Rs 1.5 lakh 80C limit and is tax-deductible if no other investments are using up the limit.</h3></li>
	<li><h3><strong style="color: red">Life Insurance Premiums:</strong>> Premiums for different types of insurance policies including ULIPs, term insurance and endowment policies are tax deductible up to Rs 1.5 lakh. However the insurance cover must be at least 10 times the annual premium.</h3></li>
	<li><h3><strong style="color: red">National Pension System (NPS):</strong> This deduction is available under Section 80CCD up to Rs 1.5 lakh for contributions to NPS. This is over and above the Rs 50,000 deduction available under Section 80CCD(1B) discussed below.</h3></li>
	<li><h3><strong style="color: red">Home Loan Repayment:</strong> Repayment of the principal amount on a home loan is tax deductible up to Rs 1.5 lakh per annum</h3></li>
	<li><h3><strong style="color: red">Payment of tuition fees:</strong> Payment of tuition fees for your children is tax deductible up to Rs 1.5 lakh per annum.</h3></li>
	<li><h3><strong style="color: red">EPF:</strong> Under the EPF Act. 12% of the pay of employees in the organised sector is deducted towards Employees Provident Fund. This deduction counts towards the Rs 1.5 lakh limit under Section 80C.</h3></li>
	<li><h3><strong style="color: red">Senior Citizens Savings Scheme:</strong> Contribution to the SCSS is tax deductible up to Rs 1.5 lakh. SCSS has a tenure of 5 years and is available to those above 60. The rate for SCSS is higher than prevailing FD rates and is currently 8.7% (it is taxable).</h3></li>
	<li><h3><strong style="color: red">Sukanya Samriddhi Yojana:</strong> Parents of a girl child below the age of 10 can get this deduction. This account has a tenure of 21 years or until the girl marries after turning 18. It has an interest above prevailing rates (currently 8.5%) and the interest is tax-free.</h3></li>
</ul>

</body>
</html>